LOG_LEVEL=DEBUG
SERVER_PORT=8000

MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_DB_NAME=
MYSQL_PORT=

ATTACHMENTS_DIR=
ATTACHMENTS_URL='http://localhost:8000/attachments'

ALLOWED_MIME_TYPES='image/jpeg,image/jpg,image/png,application/pdf'
MAX_FILE_SIZE_MB=2

# 256-bit (32-byte) keys represented as hexadecimal strings
ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

ALLOW_ORIGINS=http://localhost:3000